.App {
  text-align: center;
}
.App > .styleBox {
  min-height: 200px;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  box-shadow: 1px 1px 3px 1px gray;
  padding-top: 30px;
  box-sizing: border-box;
}

.App > form {
  border: 2px solid gray;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  box-shadow: 1px 1px 3px 1px gray;
}

.App > form > input,
textarea,
button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 600px;
  font-size: 30px;
  box-sizing: border-box;
}
